<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="template">
<head>
    <title>TDO :: Web</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="jumbotron">
            <h1 class="display-4">Total Cost of Ownership Calculator</h1>
            <p class="lead">Quickly estimate your vehicle's total and monthly ownership cost.</p>
            <hr class="my-4" />
            <a class="btn btn-primary btn-lg" href="#" role="button">Begin</a>
        </div>

        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>

    </div>

</body>
</html>